# Naver CLOVA General OCR API
# 1. https://console.ncloud.com 에서 CLOVA OCR 서비스 등록
# 2. 도메인 생성 후 Invoke URL과 Secret Key 복사
CLOVA_OCR_INVOKE_URL=https://XXXXXXXX.apigw.ntruss.com/custom/v1/XXXXXXXX/XXXXXXXX/general
CLOVA_OCR_SECRET=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
